/*
*@author Anderson Nunes	
*@version 0.1
*
*/
/*====================== layout ======================*/
html, body{
	height: 100%;
	overflow: auto;
	background-color: #9f9ff5;
}

a{
	text-decoration: none;
	color: #ccc;

}
a:hover{
	color: #606060;
	text-decoration: none;
}
tr{
	color: white;
	background-color: #8962f9;
}
td{
	color: white;
	background-color:#A9A9F5;
}

.exibir{
	cursor:pointer;
}


/*===================tipografia=======================*/
.negrito{
	font-weight: bolder;
}
p{
	text-align: justify;
	padding: 10px;
	
	color: white;
	background-color: #8962f9;
}
.row{
	margin-top: 2px;
}
ol, .row{
	text-align: justify;
	color: white;
	background-color: #8962f9;
	padding-right: 10px;
}